<% provide :title, t(".title") %>
<h1><%= link_to t(".title") %></h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <%= link_to t(".link_contact") %> and
  <%= link_to t(".link_name"), t(".link_contact") %>
</p>
