<% provide:title, t(".title") %>
<h1><%= link_to t(".title") %></h1>
<p>This is the home page for the <%= link_to t(".link_name"), t(".link") %>
   sample application.
>>>>>>> Chapter 4 - Rails-flavored Ruby
</p>

