<% provide :title, t("user_mailer.password_reset.name") %>

<h1><%= t("password_resets.new.title") %></h1>

<p><%= t("user_mailer.password_reset.text1") %></p>

<%= link_to t("user_mailer.password_reset.name"),
  edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p><%= t("user_mailer.password_reset.text2") %></p>
